
body {
  font-family: helvetica, arial, sans-serif;
  background-color: #daa5d1;
}

a {
  color: #fffbf1;
  text-shadow: 0 20px 25px #daa5d1, 0 40px 60px #daa5d1;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

a:before,
a:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid rgb(255, 208, 0);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -webkit-animation: 10s infinite alternate ease-in-out tipsy;
          animation: 10s infinite alternate ease-in-out tipsy;
}

a:before {
  border-color: #eccc13 #eccc13 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eccc13 #eccc13;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}